.mixinSubmitInput {
        background-color: @submitBgColor;
        color: @grayColor;
        width: 21rem;
        height: 3rem;
        line-height: 3rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        border: 0;
        outline: none;
        border-radius: .5rem;
}

.wh(@_width,@_hieght) {
    width: @_width;
    height: @_hieght;
}

.mixinBigNavButton {
    .wh(2rem,2rem);
    color: @whiteColor;
    .fontLineSize(1.2rem,2rem);
    font-weight: bold;
    text-align: center;
}

.fontLineSize(@_font,@_line) {
    font-size: @_font;
    line-height: @_line;
}

.readMore {
    .fontLineSize(1.2rem,1.4rem);
    color: @greenColor;
    text-align: right;
    margin-top: .7rem;
    &:hover {
        color: lighten(@greenColor,10%);
        cursor: pointer;
    }
}